<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406532170702-pbajubg08dcf4qe27bkjuo3hqoncm4ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406532170702-pbajubg08dcf4qe27bkjuo3hqoncm4ts</string>
	<key>API_KEY</key>
	<string>AIzaSyA-JZvJIZRu6vUNW3wNrax0erYzgHTY_cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>406532170702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riderapp</string>
	<key>PROJECT_ID</key>
	<string>rider-app-fd7d8</string>
	<key>STORAGE_BUCKET</key>
	<string>rider-app-fd7d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406532170702:ios:53c1a165bea6b29914019f</string>
	<key>DATABASE_URL</key>
	<string>https://rider-app-fd7d8.firebaseio.com</string>
</dict>
</plist>